@import "/src/styles/mixins/colors.sass";

.container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
    background: $purple-color;
    border: 0.5px solid $gray-color;
    padding: 34px 180px;
    opacity: 1;
}

.menu {
    color: #ffffff;
    font-size: 22px;
    a+a{
        margin-left: 38.9px;
    }
}
